@charset "UTF-8";
*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
  max-width: 100%;
  width: 320px;
}

.wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto -20px;
  max-width: 1920px;
  overflow: hidden;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}

section {
  position: relative;
}
section:not(section.promo), section:not(section.header) {
  padding-top: 32px;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.web {
  display: none;
}

.title {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.title span:not([class]) {
  color: #ff2e3d;
}

.prod {
  display: grid;
  grid-template-rows: 187px 65px;
  grid-template-columns: auto;
  margin-top: 20px;
}
.prod img {
  grid-row: 1/3;
  grid-column: 1/-1;
}
.prod .button {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.cover {
  display: inline-block;
  margin: 0 5px;
}
.cover span {
  position: relative;
  display: block;
}
.cover span::after {
  content: "";
  position: absolute;
  background: #FF2E3D;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  border-radius: 100px;
  z-index: -1;
}

.item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.item::after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(rgba(32, 32, 32, 0))), rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0) 100%), rgba(0, 0, 0, 0.2);
  z-index: 10;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
}
.item img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.item figcaption {
  padding: 16px 12px 12px;
  position: relative;
  width: 100%;
  z-index: 20;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list {
  counter-reset: num;
  list-style: none;
}
.list li, .list .ingredient h4, .list .order__item h4 {
  position: relative;
  padding-left: 43px;
  margin-top: 30px;
}
.list li::before, .list .ingredient h4::before, .list .order__item h4::before {
  position: absolute;
  content: counter(num);
  counter-increment: num;
  inline-size: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #fff;
  left: 0;
  top: -2px;
  background: #E52D2E;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list li b, .list .ingredient h4 b, .list .order__item h4 b {
  text-transform: uppercase;
  display: block;
}

[class^=text-] {
  font-size: 16px;
  line-height: 1.4;
}

.text- {
  font-weight: 400;
  line-height: 1.6;
}

.text-sb {
  font-weight: 600;
  line-height: 1.3;
}

.text-b {
  font-weight: 700;
}

.red .container {
  background: #E52D2E;
  border-radius: 20px;
  color: #fff;
}

.mark {
  background-color: #FF2E3D;
  color: #fff;
  padding: 0 5px;
  border-radius: 16px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  display: inline;
  line-height: 1.7;
  white-space: normal;
  font-weight: 700;
}

.mark + .mark {
  margin-left: 0.4em;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5px;
  outline: none;
  margin: 0 auto 0;
  width: 100%;
  max-width: 319px;
  height: 65px;
  border: none;
  line-height: 1;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.6s cubic-bezier(0.02, 0.01, 0.47, 1);
  border-radius: 88px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  background: #FFC700;
  line-height: 1;
}
.button svg {
  width: 32px;
  height: 32px;
}
.button span {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  font-family: "Jost", sans-serif;
  z-index: 20;
}
.button::after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.button:hover {
  -webkit-animation: rotate624 0.7s ease-in-out both;
          animation: rotate624 0.7s ease-in-out both;
}
.button:hover span {
  -webkit-animation: storm1261 0.7s ease-in-out both;
          animation: storm1261 0.7s ease-in-out both;
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}
.button:hover::after {
  left: 120%;
  -webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 20;
}

.header-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2.3rem;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  position: relative;
}
.header-menu a::before {
  border-radius: 19px;
  position: absolute;
  content: "";
  top: 1px;
  left: -2px;
  bottom: -3px;
  right: -3px;
  z-index: -1;
  background: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}

.header-menu a:hover,
.header-menu a.active {
  position: relative;
  color: #fff;
}
.header-menu a:hover::before,
.header-menu a.active::before {
  opacity: 1;
}

.header-menu {
  margin-right: auto;
  position: relative;
}

.header-menu-touch {
  width: 24px;
  height: 21.33px;
  margin-right: auto;
  display: none;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  border: 0px solid orange;
  margin-top: 2px;
}

.header-menu-touch span {
  display: block;
  background: #fff;
  border-radius: 5px 0px 0px 5px;
  height: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}

.open.header-menu-touch > span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
      -ms-transform: translateY(9px) rotate(-45deg);
          transform: translateY(9px) rotate(-45deg);
  width: 100%;
}

.open.header-menu-touch > span:nth-child(3) {
  -webkit-transform: translateY(-8.5px) rotate(45deg);
      -ms-transform: translateY(-8.5px) rotate(45deg);
          transform: translateY(-8.5px) rotate(45deg);
}

.open.header-menu-touch > span:nth-child(2) {
  opacity: 0;
}

.header {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 8px 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  cursor: pointer;
  width: 133px;
  position: absolute;
}

.header-menu a.header__red {
  color: #FF2E3D;
}

.lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.lang-list li {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 1;
  padding-right: 13px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.lang-list li.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
.lang-list li.active::before {
  content: "";
  position: absolute;
  inline-size: 14px;
  aspect-ratio: 1;
  top: 50%;
  right: 8px;
  margin-top: -9px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.15s;
  transition: border-color 0.15s;
}

.lang {
  position: relative;
  height: 51px;
  width: 123px;
  text-align: center;
  border-radius: 88px;
  padding: 8px;
  background: #202020;
}

.lang-list li:not(.active) {
  margin-top: 10px;
  display: none;
}

.lang-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lang-list li svg, .lang-list li img {
  inline-size: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0;
  margin-right: 8px;
}

.selection .lang-list li.active:before {
  -webkit-transform: rotate(-45deg) scale(-1, -1);
  -ms-transform: rotate(-45deg) scale(-1, -1);
  transform: rotate(-45deg) scale(-1, -1);
  margin-top: -3px;
}

.selection .lang-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo {
  margin-top: 25px;
}
.promo .container::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -29px;
  background: url(../img/promo-decor.png) center/contain no-repeat;
  inline-size: 481px;
  aspect-ratio: 1;
}
.promo__girl {
  position: absolute;
  width: 583px;
  height: 561px;
  opacity: 0.4;
  top: -23px;
  left: -244px;
  z-index: -2;
}
.promo h1 {
  color: #FF2E3D;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.promo .prod img {
  width: 187px;
}
.promo__list {
  margin-top: 24px;
}
.promo__list .title {
  color: #FF2E3D;
  text-align: left;
}
.promo__list li {
  margin-top: 8px;
  width: 100%;
  max-width: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__list li .ico {
  border-radius: 50%;
  width: 57px;
  overflow: hidden;
  margin-right: 20px;
}
.promo__list li p {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}
.promo__item {
  margin-top: 8px;
  height: 128px;
  width: 100%;
  max-width: 400px;
}
.promo__item figcaption {
  font-weight: 700;
  text-align: center;
}
.promo__footer {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.were__grid {
  position: relative;
}
.were__man {
  position: absolute;
  right: 30px;
  width: 437px;
  z-index: -1;
  opacity: 0.3;
  top: -20px;
}

.often__box {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.often__item {
  max-width: 330px;
  width: 100%;
  margin-top: 6px;
  max-height: 440px;
}
.often .item figcaption {
  padding: 16px;
}

.symptom__box {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.symptom__item {
  max-width: 330px;
  width: 100%;
  margin-top: 6px;
  text-align: center;
  height: 128px;
}

.help__grid {
  position: relative;
}
.help__bone {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 338px;
  z-index: -1;
  opacity: 0.3;
  top: -40px;
}
.help__info p {
  margin-top: 16px;
}

.use .title {
  padding: 0 10px;
}
.use .title span {
  display: block;
}
.use__box {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.use__item {
  background: #202020;
  border-radius: 16px;
  padding: 16px;
  margin-top: 8px;
  max-width: 360px;
}
.use__item:nth-child(1) img {
  width: 180px;
}
.use__item:nth-child(3) img {
  width: 124px;
}
.use .prod {
  grid-template-rows: 242px 65px;
}
.use .prod img {
  width: 253px;
}

.confirm .title span {
  display: block;
}
.confirm__subtitle {
  margin: 16px 0;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.confirm__item {
  margin: 8px auto 0;
  height: 246px;
}
.confirm__item h3 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
}
.confirm .prod {
  margin-top: 8px;
  grid-template-rows: 283px 65px;
}
.confirm .prod img {
  width: 288px;
}
.confirm .radial-graph {
  display: block;
  margin: auto;
  width: 160px;
  height: 160px;
}
.confirm .radial-bg {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}
.confirm .radial {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  -webkit-animation: progress 3s cubic-bezier(0.83, 0, 0.17, 1) forwards;
          animation: progress 3s cubic-bezier(0.83, 0, 0.17, 1) forwards;
}
.confirm .percent {
  fill: #fff;
  font-size: 11px;
  font-weight: bold;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
    stroke: #FD453A;
  }
  30% {
    stroke: #FD453A;
  }
  50% {
    stroke: #FD9E3A;
  }
  80% {
    stroke: #3A69FD;
  }
  100% {
    stroke: #8000FF;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
    stroke: #FD453A;
  }
  30% {
    stroke: #FD453A;
  }
  50% {
    stroke: #FD9E3A;
  }
  80% {
    stroke: #3A69FD;
  }
  100% {
    stroke: #8000FF;
  }
}
.users {
  margin-top: 30px;
}
.users__slider {
  margin: 16px auto 0;
}
.users__item {
  padding: 8px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #202020;
  position: relative;
  z-index: 5;
}
.users__item img {
  border-radius: 16px;
}
.users__descr {
  margin-top: -7px;
}
.users__descr p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.users h4 {
  margin-top: 16px;
}
.users .button {
  margin-top: 72px;
}
.users .swiper-button-next, .users .swiper-button-prev {
  top: auto;
  bottom: -45px;
  width: 32px;
  height: 32px;
  background: #202020;
  border-radius: 50%;
  color: #fff;
}
.users .swiper-button-next::after, .users .swiper-button-prev::after {
  font-size: 17px;
  font-weight: 800;
}
.users .swiper-button-next {
  right: 0;
}
.users .swiper-button-prev {
  left: 0;
}
.users .swiper-horizontal > .swiper-pagination-bullets, .users .swiper-pagination-bullets.swiper-pagination-horizontal, .users .swiper-pagination-custom, .users .swiper-pagination-fraction {
  bottom: -40px;
}

.order__item {
  width: 100%;
  max-width: 728px;
  margin-top: 28px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order__item p {
  font-weight: 700;
  width: calc(100% - 154px);
}
.order__img {
  border: solid 4px #8000ff;
  border-radius: 50%;
  position: relative;
  width: 134px;
}
.order__img img {
  border-radius: 50%;
}
.order__img::after {
  content: counter(num);
  counter-increment: num;
  position: absolute;
  inline-size: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #8000ff;
  left: 0px;
  bottom: -13px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
}
.order__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  counter-reset: num;
}
.order .container::before {
  content: "";
  position: absolute;
  background: url("../img/order-bg.png") center/contain no-repeat;
  width: 642px;
  height: 601px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.3;
}

.form {
  padding: 33px 15px 16px;
  margin: 26px auto 16px;
  border-radius: 48px;
  background-color: #8000FF;
  width: 100%;
  max-width: 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 20;
  color: #fff;
}
.form input, .form select {
  font-family: "Jost";
  font-weight: 400;
  font-size: 24px;
  background-color: #fff;
  line-height: 1.1;
  height: 65px;
  display: block;
  margin: 0 auto 16px;
  outline: 0;
  border: 0;
  width: 100%;
  border-radius: 88px;
  padding-left: 32px;
  color: #838383;
}
.form input::-webkit-input-placeholder, .form select::-webkit-input-placeholder {
  color: #838383;
}
.form input::-moz-placeholder, .form select::-moz-placeholder {
  color: #838383;
}
.form input:-ms-input-placeholder, .form select:-ms-input-placeholder {
  color: #838383;
}
.form input::-ms-input-placeholder, .form select::-ms-input-placeholder {
  color: #838383;
}
.form input::placeholder, .form select::placeholder {
  color: #838383;
}
.form .button {
  background: #00F863;
  color: #000;
}
.form select {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E%0A") no-repeat 95% 50%, #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #838383;
}
.form select option {
  color: #838383;
}
.form .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 1;
  margin-bottom: 10px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form .price p {
  font-weight: 700;
}
.form .price__old p {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
}
.form .price__old p::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  height: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}
.form .price__new p {
  font-size: 40px;
  margin-top: 15px;
}

вфд__footer {
  margin-top: 15px;
}

.final__man {
  display: none;
}
.final .toptitle {
  font-weight: 700;
  font-size: 32px;
  color: #ff2e3d;
}
.final .title {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: left;
}
.final .prod {
  width: 188px;
  margin: 5px auto 0;
}

.swiper-pagination-bullet {
  width: 44px;
  height: 8px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 16px;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background-color: #E52D2E;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -55px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: -10px;
  }
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .users__slider {
    max-width: 570px;
  }
  .use__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .use__item:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .confirm .container::before {
    content: "";
    position: absolute;
    top: -600px;
    right: -800px;
    background: url(../img/promo-decor.png) center/contain no-repeat;
    inline-size: 1978px;
    aspect-ratio: 1;
    z-index: -2;
  }
  .confirm__box {
    display: grid;
    grid-template-rows: 246px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
  }
  .confirm__box .prod {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 288px;
  }
  .users__item {
    padding: 32px;
  }
  .final .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .help .container::before {
    content: "";
    position: absolute;
    top: -600px;
    right: -800px;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    background: url(../img/promo-decor.png) center/contain no-repeat;
    inline-size: 1978px;
    aspect-ratio: 1;
    z-index: -2;
  }
  .order .container::after {
    content: "";
    position: absolute;
    top: -600px;
    right: -800px;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    background: url(../img/promo-decor.png) center/contain no-repeat;
    inline-size: 1978px;
    aspect-ratio: 1;
    z-index: -2;
  }
}
@media screen and (max-width: 990px) {
  .container {
    width: 955px;
  }
  .header__logo {
    position: static;
    margin-right: 83px;
  }
  .header-menu {
    top: -2px;
  }
  .header-menu li {
    margin: 0 3px;
  }
  .header-menu ul li:nth-child(5) {
    display: none;
  }
  .header-menu a {
    padding: 0 10px;
    font-size: 13px;
    font-size: 13px;
  }
  .header-menu-touch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header-menu {
    display: none;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.92);
    height: 100vh;
    width: 100vw;
    margin-left: -3.125vw;
    padding-top: 10px;
    top: 40px;
  }
  .header-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu ul .button {
    margin: 90px 0 0 10px;
  }
  .header-menu a {
    -webkit-transition-property: color;
    transition-property: color;
    padding: 0 0 0 20px;
    margin-top: 15px;
    display: inline-block;
    font-weight: 500;
    color: #fff;
  }
  .header__lang {
    margin-right: 10px;
  }
  .header-menu a:hover::before, .header-menu a.active::before {
    top: -9px;
    left: 10px;
    bottom: -3px;
    right: -9px;
    background: #e50333;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    padding: 0;
  }
  .header {
    width: 1174px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-left: 0;
    padding-right: 0;
  }
  .header::before {
    width: 100vw;
    top: 0;
    bottom: 0;
    background: #fff;
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -10;
  }
  .header__logo {
    width: 163px;
    margin-right: 305px;
  }
  .header-menu a {
    font-size: 11px;
  }
  .users .title {
    width: 820px;
    margin: 0 auto;
  }
  .users__item {
    padding: 44px 74px 27px;
    margin-top: -20px;
  }
  .users__check {
    margin-top: 30px;
    margin-left: -775px;
    padding: 10px 18px 10px 35px;
  }
  .order .order__item:not(:last-child)::after {
    top: 26%;
  }
  .order__inner {
    width: 986px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order__img {
    width: 277px;
  }
  .order__img::after {
    inline-size: 66px;
    font-weight: 800;
    left: 15px;
    top: 10px;
    padding-bottom: 11px;
    padding-left: 5px;
  }
  .order__item {
    margin-top: 64px;
    width: 277px;
  }
  .order__item p {
    margin-top: 20px;
    padding: 0 20px;
  }
  .order__item--1::before {
    inline-size: 367px;
    left: 46%;
    top: -53px;
  }
  .order__item--2::before {
    inline-size: 360px;
    left: 52%;
    top: -38px;
  }
  .order__item--3::before {
    inline-size: 367px;
    top: -40px;
    left: 54%;
  }
}
[data-animation=symbol] {
  line-height: 1;
}
[data-animation=symbol] span {
  line-height: 1.1;
}

[data-animation=left] {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
[data-animation=left].__anim-show {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

[data-animation=right] {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
[data-animation=right].__anim-show {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

[data-animation=top] {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
[data-animation=top].__anim-show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

[data-animation=down] {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
[data-animation=down].__anim-show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

[data-animation=scale] {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
[data-animation=scale].__anim-show {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.__anim__box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 1.3;
}
.__anim__symbol {
  display: inline-block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.__anim__text {
  display: inline-block;
  -webkit-transform: translateY(110%) rotate(0.15deg);
      -ms-transform: translateY(110%) rotate(0.15deg);
          transform: translateY(110%) rotate(0.15deg);
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  transition: -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.__anim-show .__anim__symbol {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.__anim-show .__anim__text {
  -webkit-transform: translateY(0) rotate(0);
      -ms-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
}