
// @media screen and (min-width: 425px)
//     .container
//         width: 400px


@media screen and (min-width: 768px)
    .wrapper
        margin-top: -10px
    // .container
    //     width: 744px
    .promo
        &__list
            display: flex
            flex-direction: column
            align-items: center
    .users
        &__slider
            max-width: 570px
    .use
        &__item
            &:nth-child(2)
                order: 3
            &:nth-child(3)
                order: 2
    .confirm
        .container
            &::before
                content: ''
                position: absolute
                top: -600px
                right:-800px
                background: url(../img/promo-decor.png) center/contain no-repeat
                inline-size: 1978px
                aspect-ratio: 1
                z-index: -2
        &__box
            display: grid
            grid-template-rows: 246px 1fr
            grid-template-columns: 1fr 1fr 1fr
            gap: 10px
            .prod
                grid-row: 2/3
                grid-column: 2/3
                width: 100%
                align-items: end
                margin-top: -40px
        &__item
            max-width: none
            margin: 0
            h3
                min-height: 45px
    .users__item
        padding: 32px
    .final
        .container
            display: flex
            align-items: center
    .help
        .container
            &::before
                content: ''
                position: absolute
                top: -600px
                right:-800px
                transform: scaleX(-1)
                background: url(../img/promo-decor.png) center/contain no-repeat
                inline-size: 1978px
                aspect-ratio: 1
                z-index: -2
    .order
        .container
            &::after
                content: ''
                position: absolute
                top: -600px
                right: -800px
                transform: scaleX(-1)
                background: url(../img/promo-decor.png) center/contain no-repeat
                inline-size: 1978px
                aspect-ratio: 1
                z-index: -2

@media screen and (max-width: 990px)
    .container
        width: 955px
    .header
        &__logo
            position: static
            margin-right: 83px
        &-menu
            top: -2px
            li
                margin: 0 3px
            ul

            a
                padding: 0 10px
                font-size: 13px
                font-size: 13px
    .users

    .header-menu-touch
        display: flex
        flex-direction: row-reverse
    .header-menu
        display: none
        // position: relative
        position: absolute
        z-index: 20
        background: rgba(0, 0, 0, .92)
        height: 100vh
        width: 100vw
        // margin-left: -10px
        margin-left: -16px
        padding-top: 10px
        // margin-top: 30px
        top: 60px
    .header-menu ul
        flex-direction: column
        .button
            margin: 90px 0 0 10px
    .header-menu a
        // &:not(.button)
        transition-property: color
        padding: 0 0 0 20px
        margin-top: 15px
        display: inline-block
        font-weight: 500
        color: #fff
    .header__lang
        margin-right: 10px
    .header-menu a:hover,.header-menu a.active
        // &:not(.button)
        &::before
            top: -9px
            left: 10px
            bottom: -3px
            right: -9px
            background: #e50333

@media screen and (min-width: 991px)
    body
        font-size: 17px
    .wrapper
        margin-bottom: -20px
    .title
        font-size: 32px
    section:not(section.promo), section:not(section.header)
        padding-top: 78px
    .header-menu
        ul
            background: #202020
            border-radius: 88px
        a
            height: 65px
            font-weight: 400
            font-size: 24px
            color: #fff
            padding: 0 32px
            align-items: center
            height: 51px
            font-size: 17px
            &::before
                top: 0
                bottom: 0
                border-radius: 88px
            &.active
                color: #000
        .web
            display: none
    .promo
        margin-top: 36px
        .form
            display: block
            grid-row: 3/4
            grid-column: 3/4
        .container
            display: grid
            grid-template-rows: repeat(4, auto)
            grid-template-columns: repeat(3, auto)
            &::before
                right: 70px
                inline-size: 1300px
                top: -110px
        h1
            grid-row: 1/2
            grid-column: 1/-1
        .title
            grid-row: 2/3
            grid-column: 1/-1
            br
                display: none
        &__list
            grid-row: 3/4
            grid-column: 1/2
        &__footer
            grid-row: 4/5
            grid-column: 1/-1
            flex-direction: row
            margin-right: -32px
        &__item
            margin-right: 32px
            height: 175px
        &__girl 
            width: 693px
            height: 641px
            top: 75px
            left: -164px
        .prod
            grid-row: 3/4
            grid-column: 2/3
            display: block
            
            img, .button
                display: none
            .web
                display: block
                width: 220px
    .were
        &__grid
            display: grid
            grid-template-columns: 49.55% 50.45%
            grid-template-rows: auto
            align-items: center
        &__text
            grid-row: 1/2
            grid-column: 2/3
        &__man
            grid-row: 1/2
            grid-column: 1/2
            position: static
            opacity: 1
            width: 100%
    .often
        &__box
            display: grid
            grid-template-columns: 1fr 0.5fr 0.5fr 1fr
            grid-template-rows: repeat(2, min(22.917vw, 420px))
            gap: 32px
        &__item
            width: 100%
            max-width: none
            margin-top: 0
            &--1
                grid-row: 1/2
                grid-column: 1/2
            &--2
                grid-row: 1/2
                grid-column: 2/4
            &--3
                grid-row: 1/2
                grid-column: 4/5
            &--4
                grid-row: 2/3
                grid-column: 1/3
            &--5
                grid-row: 2/3
                grid-column: 3/5
    .symptom
        &__box
            display: grid
            grid-template-columns: repeat(3, 31%)
            grid-template-rows: repeat(2, auto)
            gap: 32px
        &__item
            height: 178px
            margin: 0
            max-width: none
    .help
        .container
            max-width: 1218px
        &__grid
            display: grid
            grid-template-columns: 47.29% 52,71%
            grid-template-rows: auto
            align-items: center
        &__bone
            position: static
            grid-row: 1/2
            grid-column: 2/3
            width: 100%
            opacity: 1
            transform: none
    .use
        &__box
            display: grid
            grid-template-columns: 30% 30% 30%
            grid-template-rows: auto
            align-items: stretch
            column-gap: 32px
        .use
            &__item
                grid-row: 1/2
                display: flex
                flex-direction: column
                justify-content: space-between
                &:nth-child(1)
                    img
                        margin: 0
                        margin-left: auto
                &:nth-child(2)
                    order: 2
                &:nth-child(3)
                    order: 3
                    img
                        margin: 0
                        margin-right: auto
        .prod
            margin-top: -200px
    .users
        &__slider
            max-width: 1408px
            width: 100%
        &__descr
            p
                &:first-child
                    margin-top: 0
        &__item
            padding: 8px
            display: flex
            img
                margin-right: 4.55%
            figcaption
                padding: 24px 24px 24px 0
                display: flex
                flex-direction: column
                justify-content: space-between
    .order
        &__inner
            display: grid
            grid-template-columns: repeat(6, auto)
            grid-template-rows: repeat(3, auto)
            width: 100%
        &__item
            // width: 42.92%
            max-width: 728px
            align-items: center
            &--1
                grid-column: 1/5
                grid-row: 1/2
            &--2
                grid-column: 2/6
                grid-row: 2/3
            &--3
                grid-column: 3/7
                grid-row: 3/4
    .final
        .container
            &::before
                content: ''
                position: absolute
                bottom: -500px
                right:0px
                background: url(../img/promo-decor.png) center/contain no-repeat
                transform: scaleX(-1)
                inline-size: 1978px
                aspect-ratio: 1
                z-index: -2
        &__header
            grid-row: 1/2
            grid-column: 1/2
        .prod
            grid-row: 2/3
            grid-column: 2/3
            width: 18.958vw
        &__man
            display: block
            grid-row: 2/3
            grid-column: 1/2
            width: 45.625vw
        &__inner
            display: grid
            grid-template-columns: repeat(2, auto)
            grid-template-rows: repeat(2, auto)

@media screen and (min-width: 1200px)
    .container
        padding: 0 5.938vw
    .header
        padding: 24px 5.938vw 0
    .mark
        border-radius: 100px
    .wrapper
        margin-top: -34px
    body
        font-size: 24px
    .title
        font-size: 48px
    .promo
        h1
            display: none
        .title
            font-size: 32px
            text-align: left
        .prod
            .web
                width: 21.61vw
                max-width: 415px
        &__girl
            width: 69.90vw
            max-width: 1342px
            height: auto
        &__list
            li
                margin-top: 15px
                .ico
                    width: 110px
                p
                    font-size: 32px
    .form
        width: 29.844vw
        max-width: 573px
        padding-bottom: 64px
        input, select
            width: 23.177vw
            max-width: 445px
    .often
        &__item
            font-size: 18px
            &--1, &--2, &--3
                aspect-ratio: 331/268
            &--5, &--4
                aspect-ratio: 533/282
    .final
        &__header
            h3
                font-size: 26px
        .toptitle
            font-size: 77px
        .title
            font-size: 26px

